@charset "utf-8";
/*
* @package Pokroff
* @section global styles
* @author Alexander CSR <need@verstka.pro>
* @link <www.verstka.pro>
*/
body {font: 15px/22px Arial, Helvetica, sans-serif; background: #fff; color: #2e2e2e;}
html, body {margin: 0px; padding: 0px; height: 100%; width: 100%;}
*:focus, * {-moz-outline: none; outline: none; ie-dummy: expression(this.hideFocus=true);}
table, td, th, tr {padding: 0px; border-collapse: collapse;}
ul, ol, li, form, fieldset, legend, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, del, blockquote, dfn, kbd, address {margin: 0px; padding: 0px; text-decoration: none; font-style: normal; border: none;}
ul li {list-style: none;}
input {margin: 0px;}
a {color: #115d97; text-decoration: underline;}
a:hover {text-decoration: none;}
a *, input[type='button'], input[type='submit'], button, button *, .button * {cursor: pointer;}
a, a img {border: none;}

/* start of framework */

/** {outline: 1px solid #c00}*/

select {font: 14px "PT Sans", Arial, Helvetica, sans-serif; display: inline-block; vertical-align: top;}

[placeholder]::-webkit-input-placeholder {color: #777; font-style: italic;}
[placeholder]:-moz-placeholder {color: #777; font-style: italic;}
[placeholder]::-moz-placeholder {color: #777; font-style: italic;}
[placeholder]:-ms-input-placeholder {color: #777; font-style: italic;}

.text p {padding-bottom: 10px;}
.text .full {display: none;}
.text .more {color: #005190; border-bottom: 1px dashed #005190; text-decoration: none; font-size: 13px;}
.text .more:hover {border-bottom-color: #fff;}

[class^="i-"] {display: inline-block; *display: inline; zoom: 1; vertical-align: top; background: url(../images/sprite.png);}

.i-vk-20 {background-position: 0px -254px;}
.i-ok-20 {background-position: -20px -254px;}
.i-fb-20 {background-position: -40px -254px;}
.i-tw-20 {background-position: -60px -254px;}
.i-gp-20 {background-position: -80px -254px;}
.i-mr-20 {background-position: -100px -254px;}

#calendar_title {position: absolute; background: #fffadd; box-shadow: 0px 1px 5px rgba(0, 0, 0, .75); font-size: 13px; line-height: 20px; padding: 8px 14px;}

.cp-graph-calendar-wrap {position: relative;}
.cp-graph-calendar-wrap .bx-wrapper {max-width: 100% !important;}
.cp-graph-calendar-wrap .bx-viewport {height: auto !important;}
.cp-graph-calendar-wrap .bx-controls-direction {position: absolute; top: 9px; right: 1px; background: #fff;}
.cp-graph-calendar-wrap .bx-controls-direction a {display: block; float: left; margin-right: 5px; width: 14px; height: 21px; background: url(../images/sprite.png);}
.cp-graph-calendar-wrap .bx-controls-direction a.bx-prev {background-position: -175px -215px;}
.cp-graph-calendar-wrap .bx-controls-direction a.bx-prev:hover {background-position: -175px -236px;}
.cp-graph-calendar-wrap .bx-controls-direction a.bx-next {background-position: -189px -215px;}
.cp-graph-calendar-wrap .bx-controls-direction a.bx-next:hover {background-position: -189px -236px;}
.cp-graph-calendar-wrap .bx-controls-direction a.disabled {visibility: hidden;}

.cp-calendar {width: 220px; text-align: center;}
.cp-calendar-title {color: #000; font-size: 14px; text-indent: -19px;}
.cp-calendar-daynames {color: #777; font-size: 12px; overflow: hidden; padding: 6px 0px;}
.cp-calendar-daynames li {width: 30px; float: left; border: 1px solid transparent; margin: 0px 0px -1px -1px;}
.cp-calendar-days {font-size: 13px; color: #fff; overflow: hidden;}
.cp-calendar-days li {width: 30px; height: 30px; float: left; line-height: 30px; border: 1px solid #fff; margin: 0px -1px -1px 0px;}
/*.cp-calendar-days li.busy span {background: #e2e2e2;}*/
/*.cp-calendar-days li.js-hover span {background: #aaa;}*/
.cp-calendar-days li:empty {border-color: transparent;}
.cp-calendar-days li[style] span {background: #e2e2e2;}
.cp-calendar-days span {display: block; height: 100%; background: #96c78c;}
.cp-calendar-days span.empty {background: #e2e2e2;color: #777;}

.cp-wrap {min-height: 100%; font-family: "PT Sans", sans-serif;}
.cp-footer {height: 75px; background: #303030; margin-top: -75px;}

.cp-button {height: 35px; font-size: 16px; line-height: 32px; position: relative; color: #fff; text-decoration: none; padding: 0px 27px; background: url(../images/cp-button.png); display: inline-block; vertical-align: top; text-shadow: 0px 1px 0px rgba(0, 0, 0, .5);}
.cp-button input {display: block; position: absolute; top: 0px; left: 0px; background: #fff; border: 0px; width: 100%; height: 100%; opacity: 0.01; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=1); -khtml-opacity: 0.01; -moz-opacity: 0.01;}
.cp-button:hover {background-position: 0px -35px;}
.cp-button:active {background-position: 0px -70px;}

.cp-input {border: 1px solid #c6c6c6; display: inline-block; vertical-align: top; position: relative;}
.cp-input input, .cp-input textarea {background: #fff; border: 0px; color: #000; font: 14px "PT Sans", sans-serif; padding: 3px 8px 2px;}
.cp-input.js-focus {border-color: #6fb0fe;}

.cp-f-item dt {display: inline-block; vertical-align: top;}
.cp-f-item dd {display: inline-block; vertical-align: top;}
.cp-f-tip {display: inline-block; vertical-align: middle; padding-left: 7px;}
.cp-f-tip a {text-decoration: none;}
.cp-f-tip a:hover {text-decoration: underline;}

.cp-f-custom-radios {overflow: hidden; padding-top: 2px;}
.cp-f-custom-radios label {cursor: pointer; display: block; float: left; margin-right: 20px; position: relative;}
.cp-f-custom-radios label:hover span {border-bottom-color: transparent;}
.cp-f-custom-radios input {display: block; position: absolute; top: 0px; left: 0px; border: 0px; opacity: 0.01; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=1); -khtml-opacity: 0.01; -moz-opacity: 0.01; cursor: pointer;}
.cp-f-custom-radios span {color: #0d52a5; border-bottom: 1px dashed #0d52a5;}
.cp-f-custom-radios input:checked + span {border-bottom-color: transparent; color: #000; font-weight: bold;}

.cp-f-photo {overflow: hidden; padding-top: 1px;}
.cp-f-photo input[type="file"] {display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0px; opacity: 0.01; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=1); -khtml-opacity: 0.01; -moz-opacity: 0.01; cursor: pointer;}
.cp-f-photo-added {float: left; padding-right: 6px;}
.cp-f-photo-added li {float: left; width: 75px; height: 75px; background: url(../images/sprite.png) -203px -179px; border: 1px solid #c6c6c6; border-radius: 1px;}
.cp-f-photo-added li:empty {cursor: pointer;}
.cp-f-photo-button {float: left; height: 24px; padding: 0px 18px; color: #fff; font-size: 13px; line-height: 22px; background: #5a87bd; box-shadow: 0px 1px 0px rgba(0, 0, 0, .75); cursor: pointer; margin-top: 1px; position: relative;}
.cp-f-photo-button:hover {background: #83b6e9;}
.cp-f-photo-button:active {background: #4480d2;}

.cp-f-submit .cancel {display: inline-block; vertical-align: top; margin-left: 55px; font-size: 14px; line-height: 35px; text-decoration: none;}
.cp-f-submit .cancel:hover {text-decoration: underline;}

.cp-rating-small {width: 65px; height: 13px; background: url(../images/rating-cp-small.png) 0px -13px;}
.cp-rating-small .rated span {display: block; height: 13px; background: url(../images/rating-cp-small.png);}

.cp-rating-big, .cp-rating-big li, .cp-rating-big label, .cp-rating-big .rated span {height: 24px; text-align: left;}
.cp-rating-big, .cp-rating-big .rated, .cp-rating-big li.rate-5 label:hover, .cp-rating-big .rated span {width: 125px;}
.cp-rating-big li, .cp-rating-big label, .cp-rating-big li.rate-1 label:hover {width: 25px;}
.cp-rating-big, .cp-rating-big label:hover, .cp-rating-big .rated, .cp-rating-big .rated span {background-image: url(../images/rating-cp-big.png);}
.cp-rating-big {position: relative; background-repeat: no-repeat;}
.cp-rating-big li {float: left;}
.cp-rating-big label {display: block; position: absolute; z-index: 3; top: 0px; cursor: pointer;}
.cp-rating-big label * {cursor: pointer;}
.cp-rating-big label input {display: block; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; opacity: 0.01; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=1); -khtml-opacity: 0.01; -moz-opacity: 0.01;}
.cp-rating-big label:hover {z-index: 2; left: 0px; background-position: 0px -24px;}
.cp-rating-big .rated {background-position: 0px 0px; position: absolute; left: 0px; top: 0px;}
.cp-rating-big .rated span {display: block; background-position: 0px 100%;}
.cp-rating-big li.rate-2 label:hover {width: 50px;}
.cp-rating-big li.rate-3 label:hover {width: 75px;}
.cp-rating-big li.rate-4 label:hover {width: 100px;}
.cp-rating-big:hover .rated span {visibility: hidden;}
.cp-rating-big:hover .rated:last-child span {visibility: visible;}

.i-cp-delete {width: 10px; height: 11px; background-position: -175px -189px;}
.i-cp-delete:hover, a:hover .i-cp-delete {background-position: -185px -189px;}
.i-cp-edit {width: 13px; height: 15px; background-position: -188px -200px;}
.i-cp-edit:hover, a:hover .i-cp-edit {background-position: -175px -200px;}
.i-cp-view {width: 14px; height: 11px; background-position: -278px -179px;}
.i-cp-view:hover, a:hover .i-cp-view {background-position: -278px -190px;}
.i-cp-view.crossed {width: 14px; height: 13px; position: relative; top: -1px; background-position: -301px -203px;}
.i-cp-view.crossed:hover, a:hover .i-cp-view.crossed {background-position: -315px -203px;}
.i-cp-mark {width: 13px; height: 12px; background-position: -278px -224px;}
.i-cp-mark:hover, a:hover .i-cp-mark {background-position: -278px -236px;}
.i-cp-marked {width: 12px; height: 13px; background-position: -289px -203px;}

.cp-header {background: #f6f6f6; box-shadow: 0px 1px 3px rgba(0, 0, 0, .35); margin-bottom: 23px;}
.cp-header-wrap {width: 940px; margin: auto; overflow: hidden;}
.cp-header a {display: block; width: 175px; height: 75px; background: url(../images/sprite.png) 0px -179px; float: left;}
.cp-header p {float: left; font-size: 20px; padding: 17px 0px 0px 65px;}

.cp-page {padding-bottom: 101px; margin: auto; width: 940px;}
.cp-page-speedbar {overflow: hidden; font-size: 14px; padding-bottom: 36px;}
.cp-page-speedbar ul {float: left;}
.cp-page-speedbar li {float: left;}
.cp-page-speedbar li:not(:first-child):before {content: '→'; padding: 0px 5px;}
.cp-page-speedbar a {text-decoration: none;}
.cp-page-speedbar a:hover {text-decoration: underline;}
.cp-page-speedbar > a {float: right; display: block;}
.cp-page-speedbar > a:before {content: '← ';}
.cp-page-speedbar + .cp-button {float: right;}

.cp-page h1 {font-size: 30px; font-weight: normal; background: none; color: #010000; margin: 0px; padding: 0px 0px 21px; border: 0px; float: left;}
.cp-page h1 + * {clear: both;}

.cp-menu {height: 32px; line-height: 32px; color: #fff; text-shadow: 0px 1px 1px rgba(0, 0, 0, .35); position: relative; margin-bottom: -1px;}
.cp-menu li {float: left; background: url(../images/cp-menu.png); position: relative;}
.cp-menu li:first-child:before {content: ''; display: block; float: left; width: 2px; height: 32px; background: url(../images/cp-menu.png);}
.cp-menu li:last-child:before {content: ''; display: block; float: left; width: 2px; height: 32px; background: url(../images/cp-menu.png); position: absolute; left: 100%;}
.cp-menu a {color: #fff; text-decoration: none; margin: 0px 15px; display: block;}
.cp-menu a:hover {text-decoration: underline;}
.cp-menu span {display: inline-block; vertical-align: top; height: 20px; background: #96c78c; border: 1px solid #fff; border-radius: 1px; color: #fff; font-size: 14px; font-weight: bold; padding: 0px 3px; margin: 4px 0px 0px 4px; line-height: 20px;}
.cp-menu .active {background-position: 0px -32px; position: relative;}
.cp-menu .active a {text-decoration: none; cursor: default;}
.cp-menu .active:after {content: ''; display: block; position: absolute; top: 100%; left: 50%; margin: -3px 0px 0px -10px; background: url(../images/sprite.png) -175px -179px; width: 19px; height: 10px; z-index: 5;}

.cp-navigator {background: #f1f1f1; border-bottom: 1px solid #e2e2e2; height: 55px; line-height: 54px; overflow: hidden; color: #000;}
.cp-navigator-pager {float: left; padding-left: 5px;}
.cp-navigator-pager li {float: left; padding-left: 19px;}
.cp-navigator-shower {float: right; padding-right: 31px;}
.cp-navigator-shower dt {float: left; font-size: 14px;}
.cp-navigator-shower dd {float: left; padding-left: 18px;}

.cp-content {padding: 19px 17px 23px 20px; border: 1px solid #b9b9b9;}

/**/

.cp-graph-calendar {border-top: 1px solid #e2e2e2; border-bottom: 1px solid #e2e2e2; padding: 10px 0px 19px; overflow: hidden; position: relative;}
.cp-graph-calendar .cp-calendar {float: left; margin-right: 7px;}

.cp-graph-add > .cp-button {margin-top: 22px;}
.cp-graph-add form {padding: 19px 30px; display: none;}
.cp-graph-add form h2 {font-size: 20px; color: #000; padding-bottom: 23px;}
.cp-graph-add form .cp-f-item {padding-bottom: 10px;}
.cp-graph-add form .cp-f-item dt {width: 97px; padding: 2px 10px 0px 0px;}
.cp-graph-add form .cp-f-item dd {width: 441px;}
.cp-graph-add form .cp-f-item.date input {width: 135px;}
.cp-graph-add form .cp-f-item.review textarea {width: 423px; height: 118px;}
.cp-graph-add form .cp-f-submit {overflow: hidden; width: 241px; padding: 11px 0px 0px 107px;}
.cp-graph-add form .cp-f-submit .button {display: block; float: left;}
.cp-graph-add form .cp-f-submit .cancel {display: block; float: right; margin-left: 0;}
.cp-graph-add.active > .cp-button {display: none;}
.cp-graph-add.active form {display: block; background: #f1f1f1;}

.cp-graph-periods {width: 380px; margin-top: 67px;}
.cp-graph-periods > h2 {font-size: 20px; color: #000; font-weight: normal; border-bottom: 1px solid #e2e2e2; padding: 0px 0px 24px 5px;}
.cp-graph-periods > dl {border-bottom: 1px solid #e2e2e2; padding-bottom: 15px;}
.cp-graph-periods > dl:hover dt a {display: block;}
.cp-graph-periods > dl > dt {overflow: hidden; padding: 12px 13px 0px 6px;}
.cp-graph-periods > dl > dt a {display: none; float: right; text-decoration: none;}
.cp-graph-periods > dl > dt a:hover {text-decoration: underline;}
.cp-graph-periods > dl > dt a:first-child {float: left; display: block;}
.cp-graph-periods > dl > dd {padding: 6px 0px 3px 6px; font-size: 14px; color: #000;}
.cp-graph-periods .cp-graph-add {width: 901px; border-top: 1px solid #e2e2e2; border-bottom: 1px solid #e2e2e2; margin-top: -1px; display: none;}
.cp-graph-periods > dl.active {display: none;}
.cp-graph-periods > dl.active + .cp-graph-add {display: block;}
.cp-graph-periods .i-cp-delete {margin: 7px 0px 0px 22px;}
.cp-graph-periods .i-cp-edit {margin-top: 5px;}

/**/

.cp-info {padding: 16px 0px 0px 7px; font-size: 14px; color: #000;}
.cp-info fieldset {display: block; border-bottom: 1px solid #e2e2e2; width: 581px; padding-bottom: 11px; margin-bottom: 20px;}
.cp-info .cp-f-item {padding-bottom: 12px;}
.cp-info .cp-f-item > dt {width: 140px; padding: 2px 12px 0px 0px;}
.cp-info .cp-f-item > dd {width: 429px;}
.cp-info .cp-f-item.number dd {padding-top: 2px;}
.cp-info .cp-f-item.status label {cursor: pointer; margin-top: 2px; display: inline-block; vertical-align: top;}
.cp-info .cp-f-item.status input {margin: 6px 5px 0px 1px; display: inline-block; vertical-align: top;}
.cp-info .cp-f-item.name input {width: 423px;}
.cp-info .cp-f-item.cities textarea {width: 293px; height: 81px;}
.cp-info .cp-f-item.desc textarea {width: 423px; height: 118px;}
.cp-info .cp-f-item.exp input {width: 21px;}
.cp-info .cp-f-item.done input {width: 21px;}
.cp-info .cp-f-item.man input {width: 423px;}
.cp-info .cp-f-item.phone input {width: 122px;}
.cp-info .cp-f-item.email input {width: 293px;}
.cp-info .cp-f-submit {padding-left: 152px;}

/**/

.cp-objects {border-top: 1px solid #e2e2e2;}
.cp-objects-item {border-bottom: 1px solid #e2e2e2; overflow: hidden; padding: 12px 0px 17px;}
.cp-objects-item a {text-decoration: none;}
.cp-objects-item a:hover {text-decoration: underline;}
.cp-objects-item-link {float: left; width: 440px; padding: 0px 12px 0px 7px;}
.cp-objects-item dl {float: left; width: 320px; line-height: 20px; font-size: 14px;}
.cp-objects-item dt {font-weight: bold;}
.cp-objects-item dd span {display: block; font-size: 11px; color: #777; padding-top: 3px;}
.cp-objects-item-history {float: right; font-size: 14px; display: none;}
.cp-objects-item:hover .cp-objects-item-history {display: block;}
.cp-objects-item-add {margin-top: 20px;}

.cp-objects-add {background: #f1f1f1; padding: 18px 0px 26px 28px; border-bottom: 1px solid #e2e2e2;}
.cp-objects-add h2 {font-size: 20px; color: #000; padding-bottom: 17px;}
.cp-objects-add li {display: inline-block; vertical-align: top; width: 420px; padding-right: 10px; font-size: 14px; line-height: 30px;}
.cp-objects-add label {cursor: pointer;}
.cp-objects-add input {display: inline-block; vertical-align: top; margin: 10px 5px 0px 0px;}
.cp-objects-add .cp-f-submit {padding-top: 27px;}

/**/

.cp-reviews form.editor {display: none; padding: 24px 25px; border-top: 1px solid #dedede;}
.cp-reviews form.editor h2 {font-size: 18px; color: #000; padding-bottom: 23px;}
.cp-reviews form.editor .cp-f-item {padding-bottom: 10px;}
.cp-reviews form.editor .cp-f-item dt {width: 130px; padding: 2px 10px 0px 0px;}
.cp-reviews form.editor .cp-f-item dd {width: 441px;}
.cp-reviews form.editor .cp-f-item.name input {width: 423px;}
.cp-reviews form.editor .cp-f-item.phone input {width: 123px;}
.cp-reviews form.editor .cp-f-item.email input {width: 293px;}
.cp-reviews form.editor .cp-rating-big {margin: 0px 0px 2px 2px;}
.cp-reviews form.editor .cp-f-item.review textarea {width: 423px; height: 118px;}
.cp-reviews form.editor .cp-f-submit {overflow: hidden; width: 441px; padding: 21px 0px 0px 140px;}
.cp-reviews form.editor .cp-f-submit .button {display: block; float: left;}
.cp-reviews form.editor .cp-f-submit .cancel {display: block; float: right;}

.cp-reviews {border-top: 1px solid #e2e2e2;}
.cp-reviews-item {overflow: hidden; padding: 12px 0px 3px; border-bottom: 1px solid #e2e2e2; color: #000;}
.cp-reviews-item .text {float: left; width: 340px; padding: 0px 30px 0px 8px; font-size: 13px; line-height: 20px;}
.cp-reviews-item .text .more {font-weight: normal !important; border-bottom-color: transparent; margin-top: -6px; display: inline-block; vertical-align: top;}
.cp-reviews-item .text .more:hover {border-bottom-color: #0d52a5;}
.cp-reviews-item-date {float: left; width: 103px; font-size: 12px; line-height: 16px; color: #777; padding-top: 3px;}
.cp-reviews-item-contacts {float: left; width: 200px; padding-right: 31px; font-size: 13px; line-height: 20px;}
.cp-reviews-item-rated {float: left; width: 80px; padding-top: 5px;}
.cp-reviews-item-options {float: right; padding: 6px 11px 0px 0px; display: none;}
.cp-reviews-item-options a {display: block; float: left; margin-left: 15px;}
.cp-reviews-item-options a.i-cp-view {margin-top: 2px;}
.cp-reviews-item-options a.i-cp-delete {margin-top: 2px;}
.cp-reviews-item form.editor {float: left; width: 100%; border-top: 1px solid #fff; margin-top: 16px;}

.cp-reviews .cp-navigator {margin-bottom: 26px;}

.cp-reviews-add > .cp-button {margin-top: 22px;}
.cp-reviews-add.active > .cp-button {display: none;}
.cp-reviews-add.active form {display: block; background: #f1f1f1;}

.cp-reviews-item:hover .cp-reviews-item-options {display: block;}
.cp-reviews-item.new {background: #fffaed;}
.cp-reviews-item.new .text, .cp-reviews-item.new .cp-reviews-item-contacts {font-weight: bold;}
.cp-reviews-item.editable {background: #f1f1f1;}
.cp-reviews-item.editable form {display: block;}

.cp-reviews-item.disabled {opacity: 0.50; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50); -khtml-opacity: 0.50; -moz-opacity: 0.50;}

/**/

.cp-list-filter {padding: 0px 0px 25px 4px;}
.cp-list-filter select {width: 160px; margin-bottom: 17px;}
.cp-list-filter fieldset {overflow: hidden;}
.cp-list-filter-new {float: left; border-right: 1px solid #e2e2e2; font-size: 14px; padding-right: 41px; margin: 3px 10px 0px 0px;}
.cp-list-filter-new input {display: inline-block; vertical-align: top; margin: 6px 4px 0px 0px;}
.cp-list-filter-new label {cursor: pointer;}
.cp-list-filter-new li + li {padding-top: 7px;}
.cp-list-filter-free {float: left; position: relative;}
.cp-list-filter-free:before {content: ''; width: 12px; height: 13px; background: url(../images/sprite.png) -167px -101px; display: block; position: absolute; top: 8px; left: 9px;}
.cp-list-filter-free dt {text-align: right; width: 99px; font-size: 14px; padding: 3px 7px 0px 0px;}
.cp-list-filter-free .cp-f-item + .cp-f-item {margin-top: 5px;}
.cp-list-filter-free input {width: 138px;}
.cp-list-filter-free .cross {margin-right: 10px !important;}
.cp-list-filter-search {float: right; width: 319px; height: 24px; background: #fff; border: 1px solid #c6c6c6; position: relative;}
.cp-list-filter-search input[type="submit"] {display: block; position: absolute; top: 0px; right: 0px; border: 0px; background: url(../images/sprite.png) -292px -179px; width: 46px; height: 24px; cursor: pointer;}
.cp-list-filter-search input[type="text"] {border: 0px; background: #fff; width: 260px; position: absolute; top: 3px; left: 12px; font-size: 12px;}
.clearable .cross {display: none; position: absolute; background: url(../images/sprite.png) -60px -150px; width: 9px; height: 9px; top: 50%; right: 0; z-index: 3; cursor: pointer; margin: -4px 19px 0px;}
.clearable .cross.active {display: block;}
.clearable .cross.active + input[type="submit"] {display: none;}

.cp-list-table .number {text-align: center; width: 36px; margin-right: 24px;}
.cp-list-table .team {width: 315px; margin-right: 9px;}
.cp-list-table .man {width: 210px; margin-right: 10px;}
.cp-list-table .orders {width: 70px; margin-right: 9px;}
.cp-list-table .reviews {width: 70px; margin-right: 9px;}
.cp-list-table .status {width: 130px;}
.cp-list-table a {text-decoration: none;}
.cp-list-table a:hover {text-decoration: underline;}

.cp-list-th {overflow: hidden; border-bottom: 1px solid #e2e2e2; font-weight: bold; color: #000; font-size: 14px; padding: 2px 0px 13px;}
.cp-list-th li {float: left;}
.cp-list-th .asc a:after, .cp-list-th .desc a:after {content: ''; display: inline-block; vertical-align: top; width: 8px; height: 5px; background-image: url(../images/sprite.png); margin: 9px 0px 0px 4px;}
.cp-list-th .desc a:after {background-position: -278px -201px;}
.cp-list-th .asc a:after {background-position: -278px -206px;}

.cp-list-item {overflow: hidden; padding: 22px 0px 29px; border-bottom: 1px solid #e2e2e2;}
.cp-list-item > li {float: left;}
.cp-list-item li.number {color: #777; font-size: 12px;}
.cp-list-item li.team p {font-size: 15px; line-height: 20px; padding-top: 2px;}
.cp-list-item li.team > span {display: block; color: #777; font-size: 13px; line-height: 18px; padding: 1px 0px 10px;}
.cp-list-item li.team .w-teams-graph {display: none;}
.cp-list-item li.team .graph {font-size: 13px; display: inline-block; vertical-align: top;}
.cp-list-item li.team .graph i {display: inline-block; vertical-align: top; width: 12px; height: 13px; background: url(../images/sprite.png) -167px -101px; margin: 5px 4px 0px 3px;}
.cp-list-item li.team .graph.active {background: #f6f6f6; border: 10px solid #f6f6f6; margin-top: -10px;}
.cp-list-item li.team .graph.active + .w-teams-graph {display: block;}
.cp-list-item li.man {font-size: 13px; line-height: 20px; padding-top: 1px;}
.cp-list-item li.orders span, .cp-list-item li.reviews span {display: inline-block; vertical-align: top; background: #96c78c; font-weight: bold; font-size: 15px; line-height: 20px; height: 20px; padding: 0px 3px; color: #fff; margin: 1px 0px 0px 1px;}
.cp-list-item li.status {font-size: 13px; line-height: 20px; padding-top: 1px;}

.cp-list-table .cp-navigator {margin-bottom: 26px;}

.cp-list-add {margin: 0px 0px 10px 12px;}

/**/
.cp-orders form.editor {display: none; padding: 22px 17px; border-top: 1px solid #dedede;}
.cp-orders form.editor h2 {font-size: 18px; color: #000; padding-bottom: 24px;}
.cp-orders form.editor .cp-f-item {padding-bottom: 10px;}
.cp-orders form.editor .cp-f-item dt {width: 130px; padding: 3px 10px 0px 0px; font-size: 14px;}
.cp-orders form.editor .cp-f-item dd {width: 550px;}
.cp-orders form.editor .cp-f-item.name input {width: 423px;}
.cp-orders form.editor .cp-f-item.phone input {width: 123px;}
.cp-orders form.editor .cp-f-item.email input {width: 293px;}
.cp-orders form.editor .cp-f-item.address input {width: 423px;}
.cp-orders form.editor .cp-f-item.address .cp-f-tip {font-size: 13px;}
.cp-orders form.editor .cp-f-item.order textarea {width: 423px; height: 118px;}
.cp-orders form.editor .cp-f-custom-radios {padding: 3px 0px 5px 3px; font-size: 14px;}
.cp-orders form.editor .cp-f-submit {overflow: hidden; width: 441px; padding: 10px 0px 0px 140px;}
.cp-orders form.editor .cp-f-submit .button {display: block; float: left;}
.cp-orders form.editor .cp-f-submit .cancel {display: block; float: right;}

.cp-orders {border-top: 1px solid #e2e2e2;}
.cp-orders-item {overflow: hidden; border-bottom: 1px solid #e2e2e2; padding: 14px 0px 4px 8px; font-size: 13px; line-height: 20px;}
.cp-orders-item a {text-decoration: none;}
.cp-orders-item a:hover {text-decoration: underline;}
.cp-orders-item-date {float: left; width: 100%; color: #777; font-size: 12px; line-height: 14px; padding-bottom: 3px;}
.cp-orders-item .text {float: left; width: 200px; padding-right: 41px;}
.cp-orders-item .text .more {font-weight: normal !important; display: inline-block; vertical-align: top; margin-top: -6px; border-bottom-color: transparent; text-decoration: none;}
.cp-orders-item .text .more:hover {border-bottom-color: #0d52a5;}
.cp-orders-item-contacts {float: left; width: 200px; padding-right: 10px;}
.cp-orders-item-map {float: left; width: 200px; padding-right: 19px;}
.cp-orders-item-project {width: 110px; float: left;}
.cp-orders-item-project a i {display: inline-block; vertical-align: top; width: 11px; height: 13px; background: url(../images/sprite.png) -278px -211px; margin: 3px 5px 0px 0px;}
.cp-orders-item-options {float: right; padding: 2px 16px 0px 0px;}
.cp-orders-item-options > i {display: block; float: left; margin-right: 22px;}
.cp-orders-item-options a {display: block; float: left; visibility: hidden;}
.cp-orders-item-options a + a {margin-left: 22px;}
.cp-orders-item-options a.i-cp-mark {margin-top: 2px;}
.cp-orders-item-options a.i-cp-delete {margin-top: 2px;}
.cp-orders-item form.editor {float: left; width: 100%; border-top: 1px solid #fff; margin-top: 5px;}

.cp-orders-item:hover .cp-orders-item-options a {visibility: visible;}
.cp-orders-item.new {background: #fffaed;}
.cp-orders-item.new .text,
.cp-orders-item.new .cp-orders-item-contacts,
.cp-orders-item.new .cp-orders-item-map,
.cp-orders-item.new .cp-orders-item-project p {font-weight: bold;}

.cp-orders-item.editable {background: #f1f1f1;}
.cp-orders-item.editable form {display: block;}

.cp-orders-item-variants > div {display: none;}

.cp-orders-item-variant-measure {font-size: 14px; padding-bottom: 10px;}
.cp-orders-item-variant-measure label {cursor: pointer; display: inline-block; vertical-align: top; margin: 2px 0px 0px 2px;}
.cp-orders-item-variant-measure input {display: inline-block; vertical-align: top; margin: 5px 4px 0px 0px;}

.cp-orders-item-variant-files {font-size: 13px; padding: 16px 0px 22px 3px;}
.cp-orders-item-variant-files li {padding-bottom: 7px;}
.cp-orders-item-variant-files a {display: inline-block; vertical-align: top;}
.cp-orders-item-variant-files a i {display: inline-block; vertical-align: top; width: 11px; height: 13px; background: url(../images/sprite.png) -278px -211px; margin: 3px 5px 0px 0px;}
.cp-orders-item-variant-files .i-cp-delete {margin: 6px 0px 0px 8px;}
.cp-orders-item-variant-files-add {height: 22px; padding: 0px 18px; color: #fff; text-shadow: 0px 1px 0px rgba(0, 0, 0, .5); font-size: 12px; line-height: 22px; background: #529cf6; box-shadow: 0px 1px 0px rgba(0, 0, 0, .75); cursor: pointer; margin-top: 1px; position: relative; display: inline-block; vertical-align: top; margin-top: 1px;}
.cp-orders-item-variant-files-add:hover {background: #83b6e9;}
.cp-orders-item-variant-files-add:active {background: #4480d2;}
.cp-orders-item-variant-files-add input[type="file"] {display: block; position: absolute; top: 0px; left: 0px; border: 0px; opacity: 0.01; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=1); -khtml-opacity: 0.01; -moz-opacity: 0.01; cursor: pointer;}

.cp-orders-item-variant-individual {padding: 11px 0px 3px;}
.cp-orders-item-variant-individual textarea {width: 423px; height: 118px;}

.cp-orders .cp-navigator {margin-bottom: 26px;}

.cp-orders-add.active > .cp-button {display: none;}
.cp-orders-add.active form {display: block; background: #f1f1f1;}


/**/

.cp-obj-info {padding: 16px 0px 0px 7px; font-size: 14px; color: #000;}
.cp-obj-info fieldset {display: block; padding-bottom: 13px;}
.cp-obj-info .cp-f-item {padding-bottom: 11px;}
.cp-obj-info .cp-f-item > dt {width: 200px; padding: 2px 12px 0px 0px;}
.cp-obj-info .cp-f-item > dd {width: 680px;}
.cp-obj-info .cp-f-item.name input {width: 423px;}
.cp-obj-info .cp-f-item.address input {width: 423px;}
.cp-obj-info .cp-f-item.team select {width: 443px;}
.cp-obj-info .cp-f-item.team .cp-f-tip a {margin-left: 10px;}
.cp-obj-info .cp-f-item.period input {width: 111px;}
.cp-obj-info .cp-f-item.period span {display: inline-block; vertical-align: top; padding: 2px;}
.cp-obj-info .cp-f-item.done {padding-bottom: 16px;}
.cp-obj-info .cp-f-item.done textarea {width: 423px; min-width: 100px; max-width: 600px; height: 117px; min-height: 28px; max-height: 500px;}
.cp-obj-info .cp-f-item.price input {width: 64px;}
.cp-obj-info .cp-f-submit {padding-left: 212px;}


/**/

.cp-obj-reviews {padding: 16px 0px 0px 7px; font-size: 14px; color: #000;}
.cp-obj-reviews fieldset {display: block; padding-bottom: 13px;}
.cp-obj-reviews .cp-f-item {padding-bottom: 11px;}
.cp-obj-reviews .cp-f-item > dt {width: 100px; padding: 2px 12px 0px 0px;}
.cp-obj-reviews .cp-f-item > dd {width: 680px;}
.cp-obj-reviews .cp-f-item.client input {width: 423px;}
.cp-obj-reviews .cp-f-item.review {padding-bottom: 16px;}
.cp-obj-reviews .cp-f-item.review textarea {width: 423px; min-width: 100px; max-width: 600px; height: 117px; min-height: 28px; max-height: 500px;}
.cp-obj-reviews .cp-f-item.photo dd {padding-top: 4px; overflow: hidden;}
.cp-obj-reviews .cp-f-item.photo img {float: left; display: block; border: 1px solid #e2e2e2; margin-top: 3px;}
.cp-obj-reviews .cp-f-item.photo ul {float: left; padding-left: 12px;}
.cp-obj-reviews .cp-f-item.photo ul a {color: #b9b9b9; text-decoration: none;}
.cp-obj-reviews .cp-f-item.photo ul a:hover {color: #0d52a5;}
.cp-obj-reviews .cp-f-item.photo ul li {padding-bottom: 12px; position: relative;}
.cp-obj-reviews .cp-f-item.photo input[type="file"] {position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0.01; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=1); -khtml-opacity: 0.01; -moz-opacity: 0.01; cursor: pointer;}
.cp-obj-reviews .cp-f-item.photo .i-cp-edit {margin: 5px 5px 0px 0px;}
.cp-obj-reviews .cp-f-item.photo .i-cp-delete {margin: 6px 5px 0px 2px;}
.cp-obj-reviews .cp-f-item.photo input[type="file"]:hover + a {color: #0d52a5;}
.cp-obj-reviews .cp-f-item.photo input[type="file"]:hover + a .i-cp-edit {background-position: -175px -200px;}
.cp-obj-reviews .cp-f-submit {padding-left: 112px;}

/**/

.cp-obj-photo {padding: 16px 0px 0px 14px;}
.cp-obj-photo-item {overflow: hidden;}
.cp-obj-photo-item + .cp-obj-photo-item {padding-top: 35px;}
.cp-obj-photo-item-image {float: left; width: 500px; position: relative; margin-top: 1px;}
.cp-obj-photo-item-image img {display: block; width: 500px !important;}
.cp-obj-photo-item-image.main:before, .cp-obj-photo-item-image.main:after {content: ''; display: block; position: absolute; width: 500px; left: 0;}
.cp-obj-photo-item-image.main:before {background: url(../images/photo-corner-top.png); top: 0; height: 34px;}
.cp-obj-photo-item-image.main:after {background: url(../images/photo-corner-bottom.png); bottom: 0; height: 33px;}

.cp-obj-photo-item-desc {float: left; width: 353px; margin-left: 6px;}
.cp-obj-photo-item-desc textarea {width: 334px; height: 192px;}
.cp-obj-photo-item-option {font-size: 13px; padding-top: 10px; overflow: hidden;}
.cp-obj-photo-item-option a {color: #b9b9b9; text-decoration: none;}
.cp-obj-photo-item-option a:hover {color: #0d52a5;}
.cp-obj-photo-item-option .i-cp-delete {margin: 6px 5px 0px 2px;}
.cp-obj-photo-item-option .delete {display: block; float: right;}
.cp-obj-photo-item-option .set {display: block; float: left;}

.cp-obj-photo .cp-f-photo {margin-top: 15px;}

.cp-obj-photo .cp-f-submit {text-align: right; border-top: 1px solid #e2e2e2; margin-top: 17px; padding-top: 13px;}

/**/

.cp-obj-statuses {padding: 16px 0px 0px 7px; font-size: 14px; color: #000;}
.cp-obj-statuses fieldset {display: block; padding-bottom: 20px; margin-bottom: 14px; border-bottom: 1px solid #e2e2e2; width: 604px;}
.cp-obj-statuses .cp-f-item {padding-bottom: 11px;}
.cp-obj-statuses .cp-f-item > dt {width: 146px; padding: 2px 12px 0px 0px;}
.cp-obj-statuses .cp-f-item > dd {width: 446px; padding-top: 1px;}
.cp-obj-statuses .cp-f-item select {width: 258px; margin-bottom: 7px;}
.cp-obj-statuses .cp-f-item textarea {width: 428px; height: 65px; min-width: 428px; max-width: 428px; min-height: 65px; max-height: 500px;}
.cp-obj-statuses .cp-f-item .cp-input {margin-bottom: 9px;}
.cp-obj-statuses .cp-f-item li {overflow: hidden; margin: 1px 0px 0px 4px;}
.cp-obj-statuses .cp-f-item li + li {border-top: 1px solid #e2e2e2; margin-top: 20px; padding-top: 15px;}
.cp-obj-statuses .cp-f-item li dl {float: left; width: 310px; font-size: 13px; line-height: 20px;}
.cp-obj-statuses .cp-f-item li dt {font-weight: bold;}
.cp-obj-statuses .cp-f-item li p {float: right; text-align: right; color: #777; font-size: 11px; line-height: 20px;}

/**/

.cp-obj-list-filter fieldset {overflow: hidden; padding-bottom: 23px;}
.cp-obj-list-filter fieldset select {float: left; display: block; width: 162px; margin-right: 25px;}

.cp-obj-list-filter-search {float: right; width: 319px; height: 24px; background: #fff; border: 1px solid #c6c6c6; position: relative; margin-top: 1px;}
.cp-obj-list-filter-search input[type="submit"] {display: block; position: absolute; top: 0px; right: 0px; border: 0px; background: url(../images/sprite.png) -292px -179px; width: 46px; height: 24px; cursor: pointer;}
.cp-obj-list-filter-search input[type="text"] {border: 0px; background: #fff; width: 260px; position: absolute; top: 3px; left: 12px; font-size: 12px;}

.cp-obj-list-filter .f-daterange {font-size: 14px; overflow: hidden; padding-bottom: 27px;}
.cp-obj-list-filter .f-daterange:before {content: ''; width: 12px; height: 13px; background: url(../images/sprite.png) -167px -101px; display: block; float: left; margin: 7px 5px 0px 0px;}
.cp-obj-list-filter .f-daterange > * {display: block; float: left;}
.cp-obj-list-filter .f-daterange span {padding: 2px 14px 0px 2px;}
.cp-obj-list-filter .f-daterange .cp-input {margin-right: 20px;}
.cp-obj-list-filter .f-daterange input {width: 138px;}
.cp-obj-list-filter .f-daterange .cross {margin-right: 10px !important;}

.cp-obj-list-th {overflow: hidden; font-size: 14px; color: #000; padding: 1px 0px 14px; margin-bottom: 23px; border-bottom: 1px solid #e2e2e2;}
.cp-obj-list-th li {float: left;}
.cp-obj-list-th li.object {width: 372px; padding-left: 8px;}

.cp-obj-list-item {overflow: hidden; border-bottom: 1px solid #e2e2e2; padding-bottom: 20px;}
.cp-obj-list-item + .cp-obj-list-item {padding-top: 22px;}
.cp-obj-list-item a {text-decoration: none;}
.cp-obj-list-item a:hover {text-decoration: underline;}
.cp-obj-list-item li {float: left; font-size: 13px; line-height: 20px;}
.cp-obj-list-item li.object {width: 365px; padding-left: 8px;}
.cp-obj-list-item li.object b {display: block; font-size: 15px; padding-bottom: 1px;}
.cp-obj-list-item li.object p {padding-bottom: 10px;}
.cp-obj-list-item li.status {width: 330px;}
.cp-obj-list-item li.status p {padding-left: 8px;}
.cp-obj-list-item li.status p a {color: #000; text-decoration: none;}
.cp-obj-list-item li.status p a b {display: block;}
.cp-obj-list-item li.status p a:hover {color: #0d52a5;}
.cp-obj-list-item li.status p > span {display: block; color: #777; font-size: 11px; padding-top: 1px;}
.cp-obj-list-item li.options {text-align: right; width: 171px; padding-top: 7px; visibility: hidden;}
.cp-obj-list-item li.options a {margin-left: 34px;}
.cp-obj-list-item form {display: none;}
.cp-obj-list-item form select {display: block; width: 258px; margin-bottom: 4px;}
.cp-obj-list-item form .f-daterange {overflow: hidden; padding-bottom: 7px;}
.cp-obj-list-item form .f-daterange > * {display: block; float: left;}
.cp-obj-list-item form .f-daterange span {padding: 3px 10px 0px;}
.cp-obj-list-item form .f-daterange input {width: 111px;}
.cp-obj-list-item form textarea {width: 289px; height: 66px; min-width: 289px; max-width: 500px; min-height: 66px; max-height: 200px;}
.cp-obj-list-item form .cp-f-submit {width: 300px; padding-top: 9px;}
.cp-obj-list-item form .cp-f-submit .cancel {display: block; float: right; margin-left: 0;}
.cp-obj-list-item:hover {background: #fffaed;}
.cp-obj-list-item:hover li.options {visibility: visible;}
.cp-obj-list-item.active .status p {display: none;}
.cp-obj-list-item.active form {display: block;}
.cp-obj-list-item.disabled {opacity: 0.50; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50); -khtml-opacity: 0.50; -moz-opacity: 0.50;}

.cp-obj-list-add {padding: 25px 0px 0px 11px;}
.cp-obj-list-add form {display: none;}
.cp-obj-list-add.active > .cp-button {display: none;}
.cp-obj-list-add.active form {display: block;}

/**/

.cp-coupons-header {padding: 7px 0px 4px 4px;}
.cp-coupons-header .total {font-size: 18px; padding-bottom: 9px;}
.cp-coupons-header dl {overflow: hidden; font-size: 14px; padding-bottom: 8px;}
.cp-coupons-header dt {float: left; font-weight: bold;}
.cp-coupons-header dd {float: left; padding-left: 18px;}
.cp-coupons-header dd ul {overflow: hidden; padding-top: 6px; position: relative; left: -2px;}
.cp-coupons-header dd li {float: left; width: 20px; text-align: center; margin-right: 3px;}
.cp-coupons-header dd i {display: block; width: 20px; height: 20px;}
.cp-coupons-header dd span {display: block; font-size: 10px; line-height: 18px;}

.cp-coupons-filter {overflow: hidden; border-top: 1px solid #e2e2e2; padding: 24px 0px 45px;}
.cp-coupons-filter .cp-list-filter-search {float: left; margin-right: 40px;}
.cp-coupons-filter select {width: 160px; margin-right: 40px;}

.cp-coupons-th {overflow: hidden; border-bottom: 1px solid #e2e2e2; font-weight: bold; color: #000; font-size: 14px; padding: 2px 0px 13px;}
.cp-coupons-th li {float: left;}
.cp-coupons-th .asc a:after, .cp-coupons-th .desc a:after {content: ''; display: inline-block; vertical-align: top; width: 8px; height: 5px; background-image: url(../images/sprite.png); margin: 11px 0px 0px 5px;}
.cp-coupons-th .desc a:after {background-position: -278px -201px;}
.cp-coupons-th .asc a:after {background-position: -278px -206px;}

.cp-coupons-table a {text-decoration: none;}
.cp-coupons-table a:hover {text-decoration: underline;}

.cp-coupons-table .number {width: 128px;}
.cp-coupons-table .name {width: 312px;}
.cp-coupons-table .phone {width: 159px;}
.cp-coupons-table .created {width: 141px;}

.cp-coupons-item {height: 47px; font-size: 13px; line-height: 52px;}
.cp-coupons-item + .cp-coupons-item {border-top: 1px solid #e2e2e2;}
.cp-coupons-item li {display: inline-block;}
.cp-coupons-item .created {color: #777; font-size: 11px;}
.cp-coupons-item .agents {text-align: center; width: 100px; position: relative;}
.cp-coupons-item .agents > a {font-weight: bold;}

.cp-coupons-popup {position: absolute; z-index: 2; text-align: left; top: 47px; right: 39px; width: 432px; background-color: #f6f6f6; box-shadow: 0px 2px 5px rgba(0, 0, 0, .5); line-height: normal; display: none;}
.cp-coupons-popup h2 {padding: 14px 20px 22px;}
.cp-coupons-popup a.close {display: block; position: absolute; width: 10px; height: 11px; background: url(../images/sprite.png) -175px -189px; top: 12px; right: 11px;}
.cp-coupons-popup a.close:hover {background-position: -185px -189px;}
.cp-coupons-popup ul {overflow: hidden; padding: 0px 23px 23px;}
.cp-coupons-popup li {float: left; font-size: 13px; line-height: 20px;}
.cp-coupons-popup li.num {width: 48px;}
.cp-coupons-popup li.data {width: 230px;}
.cp-coupons-popup li.joined {width: 107px; padding-top: 2px; text-align: right; font-size: 11px; color: #777;}
.cp-coupons-popup p {white-space: nowrap; position: relative; overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; -ms-text-overflow: ellipsis;}
.cp-coupons-popup dl {overflow: hidden;}
.cp-coupons-popup dt {float: left;}
.cp-coupons-popup dd {float: left;}
.cp-coupons-popup dd i {display: block; float: left; width: 20px; height: 20px; margin: 2px 0px 0px 10px;}


/* * * * * * * * * * * * * * * * */

/* datepicker */

#ui-datepicker-div:empty {display: none;}
.ui-datepicker {background: #fff; box-shadow: 0px 0px 5px rgba(0, 0, 0, .5); padding: 14px 19px 16px; margin: 21px 0px 0px -75px; width: 202px;}
.ui-datepicker-header {text-align: center; border-bottom: 1px solid #c9c9c9; position: relative; padding-bottom: 16px; margin-bottom: 18px;}
.ui-datepicker-prev, .ui-datepicker-next {display: block; position: absolute; top: 7px; width: 8px; height: 14px; background-image: url(../images/sprite.png); cursor: pointer;}
.ui-datepicker-prev {background-position: -291px -230px; left: 13px;}
.ui-datepicker-next {background-position: -291px -216px; right: 13px;}
.ui-datepicker-month {font-size: 12px;}
.ui-datepicker-year {font-size: 16px;}
.ui-datepicker-calendar th, .ui-datepicker-calendar td {text-align: right; width: 14px; font-weight: normal; font-size: 12px; padding-left: 17px;}
.ui-datepicker-calendar th:first-child, .ui-datepicker-calendar td:first-child {padding-left: 0px;}
.ui-datepicker-calendar th {padding-bottom: 3px;}
.ui-datepicker-calendar td {color: #666; height: 26px;}
.ui-datepicker-calendar a {color: #000; text-decoration: none;}
.ui-datepicker-calendar a.ui-state-highlight {font-weight: bold;}
.ui-state-disabled {cursor: default; opacity: .5;}

/**/

.w-teams-graph {background: #f6f6f6; border-radius: 5px; width: 451px; padding: 0px 15px;}
.w-teams-graph-legend {overflow: hidden; border-bottom: 1px solid #fff; padding: 10px 0px 6px; margin-bottom: 10px;}
.w-teams-graph-legend li {float: left; font-size: 14px; line-height: 30px; color: #000;}
.w-teams-graph-legend li + li {padding-left: 17px;}
.w-teams-graph-legend i {display: inline-block; vertical-align: top; width: 30px; height: 30px; margin-right: 2px;}
.w-teams-graph-legend i.busy {background: #e2e2e2;}
.w-teams-graph-legend i.free {background: #96c78c;}
.w-teams-graph-calendars {padding-bottom: 15px;}
.w-teams-graph-calendars .cp-calendar {display: inline-block; vertical-align: top;}
.w-teams-graph-calendars .cp-calendar + .cp-calendar {margin-left: 8px;}
